:root {
    --gray: #CDCBD6;
    --orange: #d96846;
    --mossgreen: #596235;
    --verylightgreen: ##a9bbb7;
    --darkgreen:#2F3020;
}
body {
    display: grid;
    grid-template-areas:
    "aside main";
    grid-template-columns: 10% 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    background-image:linear-gradient(var(--gray), var(--orange))

}
aside {
    grid-area: aside;
    display: grid;
    border-right: 5px solid var(--mossgreen);
}
aside a {
    border: solid 1px var(--mossgreen);
    border-radius: 12px;
    padding: 5px;
    display: grid;
    place-content: center;
}
.aside-icons {
    display: grid;
    padding: 5px;
    place-items: center;
}
section img {
    height: 100px;
    width: 100px;
}
.main {
    grid-area: main;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2fr 1fr 4fr max-content;
    font-size: 16px;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 8px var(--mossgreen);
    padding: 5px;
}
header {
    display: grid;
    grid-auto-flow:column;
    place-items: center;
    border-bottom: solid 5px var(--mossgreen);
    border-radius: 55px;
}
.name {
    font-size: 300%;
}
.about {
    font-size: 2rem;
    align-self: center;
}
.skills-section {
display: grid;
grid-template-rows: max-content 1fr;
/* row-gap: 10px; */
/* border-top: solid 5px  */
}
.card1 {
    border: 5px solid var(--mossgreen);
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.card1 h1 {
    display: grid;
}
.my-skills {
    padding:20px;
    justify-self: center;
    border: solid 5px var(--mossgreen);
    border-radius: 30px
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
    /* grid-template-columns: repeat(auto-fit, minmax(29.7%, 1fr)); */
    column-gap: 100px;
}   
.name {
    border: solid 5px var(--mossgreen);
    border-radius: 50px;
    padding: 20px;
}
footer {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    background-color: aliceblue;
}